@font-face {
  font-family: 'Cera Pro Regular';
  src: url("../fonts/CeraPro-Regular.eot");
  src: url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url("../fonts/CeraPro-Medium.eot");
  src: url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Bold';
  src: url("../fonts/CeraPro-Bold.eot");
  src: url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local("../fonts/Helvetica Neue Medium"), local("Helvetica-Neue-Medium"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ED3237;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-width: 360px;
  overflow-x: hidden;
  font-family: 'Cera Pro Regular';
  font-size: 18px;
  position: relative;
}

section {
  margin: 20px 0 40px 0;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.label {
  display: inline-block;
  font-family: 'Cera Pro Bold';
  font-size: 14px;
  text-transform: uppercase;
}

.header {
  width: 100%;
  font-family: 'Cera Pro Medium';
}

.header__wrapper {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  padding: 24px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F8F8;
  -webkit-filter: drop-shadow(0px 0px 46px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 46px rgba(0, 0, 0, 0.1));
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 16px;
  width: 27px;
  height: 18px;
}

.header__burger span {
  display: block;
  width: 27px;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.header__burger span:first-child {
  margin-bottom: 4.5px;
}

.header__burger span:last-child {
  margin-top: 4.5px;
}

.header__burger.active span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: -3px;
}

.header__burger.active span:nth-child(2) {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.header__burger.active span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -3px;
}

.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navigation__item {
  margin: 0 25px;
  text-transform: uppercase;
}

.lang {
  margin-right: 5px;
}

.lang__item {
  text-transform: uppercase;
  display: inline;
  margin: 0 10px;
}

.lang__item.active {
  color: #ED3237;
}

.categories {
  z-index: 5;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #F4F4F4;
  -webkit-filter: drop-shadow(0px 0px 46px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 46px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.categories.hidden {
  left: -100%;
}

.categories__wrapper {
  padding: 85px 50px 35px 50px;
  overflow-y: auto;
}

.list-cat__item {
  margin: 20px 0;
}

.list-cat__link {
  font-family: 'Cera Pro Medium';
  font-size: 20px;
  text-transform: uppercase;
}

.slide-wrapper {
  width: 298px;
  height: 60px;
  position: relative;
  padding: 12px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: -10;
}

.slide-wrapper .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: solid 2px #ED3237;
  z-index: -5;
  -webkit-transition: right 5s linear;
  -o-transition: right 5s linear;
  transition: right 5s linear;
  visibility: hidden;
}

.slide-wrapper h3 {
  font-family: 'Cera Pro Bold';
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-align: center;
}

.slide-wrapper img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-position: center;
     object-position: center;
  z-index: -20;
}

.swiper-slide-thumb-active .progress {
  visibility: visible;
  right: 0;
}

.gallery {
  overflow-x: hidden;
}

.gallery__view {
  margin-top: 25px;
}

.view-one__item {
  width: 100%;
  height: 0;
  padding-bottom: 36.6%;
  position: relative;
  overflow: hidden;
}

.view-one__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-position: top;
     object-position: top;
}

.view-one__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(13.19deg, #000000 14.51%, rgba(0, 0, 0, 0) 74.23%);
  background: linear-gradient(76.81deg, #000000 14.51%, rgba(0, 0, 0, 0) 74.23%);
  z-index: 5;
}

.view-one__content {
  width: 50%;
  top: 0;
  position: absolute;
  padding: 25px 15px;
  z-index: 10;
}

.view-one__label {
  padding: 6px 20px;
  background-color: #fff;
}

.view-one__title {
  margin-top: 20px;
  font-family: 'Cera Pro Bold';
  font-size: 36px;
  color: #fff;
}

.view-one__info {
  margin-top: 30px;
  width: 80%;
  font-size: 20px;
  color: #fff;
}

.item-50__wrapper {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item-50__wrapper img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.item-50__title {
  font-family: 'Cera Pro Bold';
  font-size: 25px;
  max-width: 320px;
}

.item-50__text {
  max-width: 320px;
  margin-top: 25px;
}

.item-50__author {
  color: #fff;
  position: absolute;
  bottom: 22px;
}

.item-50__name {
  font-size: 16px;
  text-align: right;
}

.item-50__post {
  font-size: 14px;
  text-align: right;
}

.opinion__wrapper {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 26px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.opinion__title {
  font-size: 14px;
  text-transform: uppercase;
}

.opinion__quote {
  font-size: 20px;
}

.opinion__quote:before {
  content: '';
  display: block;
  width: 28px;
  height: 20px;
  margin: 0 auto 20px auto;
  background-color: transparent;
  background-image: url("../img/quote.svg");
  background-repeat: space;
  background-size: contain;
}

.author__wrapper {
  margin: 0 auto;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.author__wrapper img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  width: 100%;
  height: 100%;
}

.row__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__item {
  width: 300px;
}

.news__item.opinion {
  background-color: #060606;
  color: #fff;
}

.item-50 {
  width: 50%;
}

.item-basic {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-basic__wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 86.7%;
  position: relative;
}

.item-basic__wrapper.no-img {
  padding: 0;
  height: auto;
}

.item-basic__wrapper.no-img > .item-basic__label {
  margin: 0;
  position: relative;
}

.item-basic__wrapper.small {
  padding-bottom: 50.00%;
}

.item-basic__wrapper img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.item-basic__label {
  position: absolute;
  margin-left: 16px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #000;
  padding: 6px 15px;
  bottom: 0;
  left: 0;
}

.item-basic__title {
  margin: 10px 0;
  font-size: 20px;
  font-family: 'Cera Pro Medium';
  line-height: 24px;
  z-index: 10;
}

.item-basic__time {
  font-size: 14px;
  font-family: 'Cera Pro Medium';
  opacity: 0.5;
  margin-top: auto;
  margin-bottom: 10px;
  z-index: 10;
}

.item-ads {
  background-color: red;
}

.item-ads a {
  display: inline-block;
}

.item-ads__wrapper {
  position: relative;
  width: 100%;
  height: 250px;
}

.item-ads__wrapper img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.item-cover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  background-size: contain;
  background-position: top;
  position: relative;
  border: none;
}

.item-cover img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.item-cover.banner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-14.04%, rgba(0, 0, 0, 0.41)), color-stop(56.64%, #000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.41) -14.04%, #000000 56.64%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.41) -14.04%, #000000 56.64%);
}

.item-cover > .item-basic__title {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}

.item-cover > .item-basic__wrapper > .item-basic__label {
  top: 0;
  bottom: unset;
  margin-top: 25px;
  color: #000;
  background-color: #fff;
}

.item-cover .item-time {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.special__wrapper {
  height: 300px;
  padding: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../img/main-gallery/slide-03.jpg") no-repeat;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/main-gallery/slide-03.jpg") no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/main-gallery/slide-03.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special__column {
  color: #fff;
}

.special__column:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.special__title {
  font-family: 'Cera Pro Medium';
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 30px;
}

.special__link {
  font-family: 'Cera Pro Medium';
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: auto 0 50px 0;
}

.spec-posts {
  max-width: 375px;
  margin-left: auto;
  color: #fff;
  font-family: 'Cera Pro Medium';
  overflow-y: scroll;
}

.spec-posts::-webkit-scrollbar {
  width: 5px;
}

.spec-posts::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
}

.spec-posts::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #ED3237;
}

.spec-posts__wrapper {
  height: 100%;
  padding-right: 10px;
}

.item-spec:after,
.item-spec:first-child:before {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
}

.item-spec__link {
  margin-top: 5px;
  font-size: 20px;
}

.item-spec__time {
  margin: 20px 0;
  font-size: 14px;
  opacity: 0.5;
}

.footer {
  font-size: 16px;
}

.footer__row {
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__row:nth-child(2) {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.footer__text {
  opacity: 0.5;
}

.footer__text p {
  margin-bottom: 20px;
}

.nav-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-f__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  margin: 8px 0;
}

.nav-f__link {
  font-family: 'Cera Pro Medium';
  text-transform: uppercase;
}

.subscribe-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-f__images {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.subscribe-f__images img {
  -webkit-filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.16));
  width: auto;
  max-height: 114px;
}

.subscribe-f__body {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-f__link {
  display: inline-block;
  padding: 16px 32px;
  background-color: #000;
  font-family: 'Cera Pro Medium';
  color: #fff;
  font-size: 20px;
  margin-bottom: 12px;
}

.subscribe-f__link:visited {
  color: #fff;
}

.rating {
  background-color: #F4F4F4;
}

.rating__wrapper {
  padding: 50px 0;
}

.rating__title {
  text-transform: uppercase;
  font-family: 'Cera Pro Medium';
  color: #000000;
  font-size: 40px;
}

.rating__header {
  margin-bottom: 40px;
}

.item-rt {
  position: relative;
  width: 408px;
  height: 515px;
  padding: 35px 35px 45px 35px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item-rt__picture {
  content: '';
  display: block;
  background: -o-linear-gradient(270.11deg, #FFFFFF 0.09%, rgba(0, 0, 0, 0) 0.1%, #000000 79%), url("../img/ratings/Rectangle-126.jpg");
  background: linear-gradient(179.89deg, #FFFFFF 0.09%, rgba(0, 0, 0, 0) 0.1%, #000000 79%), url("../img/ratings/Rectangle-126.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
}

.item-rt__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

.item-rt__title {
  font-family: 'Cera Pro Bold';
  font-size: 14px;
  z-index: 10;
}

.item-rt__extra {
  font-size: 100px;
  font-family: 'Cera Pro Bold';
  z-index: 10;
}

.item-rt__text {
  min-height: 120px;
  z-index: 10;
}

@media (max-width: 1280px) {
  .row {
    margin: 0;
  }

  .row__news {
    max-width: 625px;
    margin: 0 auto;
  }

  .news__item {
    margin-bottom: 25px;
  }

  .item-50 {
    width: 100%;
    margin-bottom: 25px;
  }

  .item-50__wrapper {
    height: 0;
    padding-bottom: 64.8%;
  }

  .navigation__item {
    margin: 0 12px;
    font-size: 16px;
  }

  .view-one__title {
    font-size: 24px;
  }

  .view-one__info {
    font-size: 16px;
  }

  .subscribe-f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe-f__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .subscribe-f__images img {
    margin-right: 25px;
  }

  .subscribe-f__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .subscribe-f__link {
    margin: 12px 0;
  }
}

@media (max-width: 920px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .navigation__item {
    width: 50%;
    margin: 0;
  }

  .slide-wrapper h3 {
    font-size: 14px;
  }

  .view-one__item {
    padding: 0;
    min-height: 300px;
  }

  .view-one__content {
    width: 70%;
  }

  .nav-f__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50.00%;
            flex: 1 0 50.00%;
  }
}

@media (max-width: 780px) {
  body {
    font-size: 16px;
  }

  .view-one__content {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .view-one__item:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(14.51%, rgba(0, 0, 0, 0.9)), color-stop(74.23%, rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 14.51%, rgba(0, 0, 0, 0) 74.23%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 14.51%, rgba(0, 0, 0, 0) 74.23%);
  }

  .view-one__info {
    margin: 15px 0;
    width: 100%;
  }

  .special__title {
    margin: 0;
  }
}

@media (max-width: 680px) {
  .opinion__wrapper {
    min-height: 405px;
  }

  .row__news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news__item {
    margin: 0 auto 25px auto;
  }

  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__center {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .navigation {
    margin-top: 10px;
  }

  .navigation__item {
    width: auto;
    margin: 0 12px;
  }

  .view-one__content {
    padding: 12px;
  }

  .view-one__title {
    margin-top: 10px;
  }

  .special__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
  }

  .spec-posts {
    max-width: 100%;
    margin: 0;
  }

  .spec-posts__wrapper {
    height: 200px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .categories__wrapper {
    padding-top: 112px;
  }
}

@media (max-width: 590px) {
  .item-50__title {
    text-align: right;
  }

  .item-50__text {
    display: none;
  }

  .navigation__item {
    width: 50%;
    margin: 5px 0;
  }

  .categories__wrapper {
    padding-top: 152px;
  }
}